certifi
charset-normalizer
greenlet
idna
numpy
packaging
pandas
psycopg2-binary
python-dateutil
python-dotenv
pytz
requests
six
SQLAlchemy
sqlalchemy-redshift
typing_extensions
tzdata
urllib3

# pip install -r requirements.txt